In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(
    {"a" : [4, 5, 6],
     "b" : [7, 8, 9],
     "c" : [10, 11, 12]},
     index = [1, 2, 3])

In [ ]:
df
# 데이터 프레임 생성

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [ ]:
df["a"]
#a 열의 데이터 보기

1    4
2    5
3    6
Name: a, dtype: int64

In [ ]:
df[["a", "b"]]
#a열과 b열의 데이터 보기

   a  b
1  4  7
2  5  8
3  6  9

In [ ]:
df.loc[3]
#특정 인텍스의 열 만 보기

a     6
b     9
c    12
Name: 3, dtype: int64