In [6]:
import pandas as pd
import numpy as np 
# Data가 없을 때 표시하기 위해서 np를 긁어왔다...

In [7]:
df = pd.DataFrame(
    {"a" : [4, 5, 6, 6, np.nan],
    "b" : [7, 8, np.nan, 9, 9],
    "c" : [10, 11, 12, np.nan, 12]},
    index = pd.MultiIndex.from_tuples(
        [('d', 1), ('d', 2), ('e', 2), ('e', 3), ('e', 4),],
        names = ['n', 'v']))

In [8]:
df

       a    b     c
n v
d 1  4.0  7.0  10.0
  2  5.0  8.0  11.0
e 2  6.0  NaN  12.0
  3  6.0  9.0   NaN
  4  NaN  9.0  12.0